name: Docker Image CI

on:
  push:
    branches: [ "CD" ]
  pull_request:
    branches: [ "CD" ]

jobs:

  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v4
      with:
        ref: push_container
    - name: Login container registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{github.actor}}
        password: ${{secrets.GITHUB_TOKEN}}
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag ghcr.io/the-bottom-line/thebottomlinebackend:latest
    - name: Push docker image
      run: docker push ghcr.io/the-bottom-line/thebottomlinebackend:latest
